Snippet/DataModal/book.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Book  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:element name="Books">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation>A collection or library of books.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="Book" type="Book" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="Book">
    <xsd:annotation>
      <xsd:documentation>A book class.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ISBN" type="ISBN"/>
      <xsd:element name="Title" type="xsd:string"/>
      <xsd:element name="Author" type="xsd:string"/>
      <xsd:element name="Publisher" type="xsd:string"/>
      <xsd:element name="PublishedDate" type="xsd:date"/>
      <xsd:element name="TotalPage" type="xsd:int"/>
      <xsd:element name="Price" type="xsd:decimal"/>
      <!-- @todo: Add cover information -->
    </xsd:sequence>
  </xsd:complexType>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Type  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- @see http://agilior.pt/blogs/rodrigo.guerreiro/archive/2008/11/14/5965.aspx -->
  <xsd:simpleType name="ISBN">
    <xsd:annotation>
      <xsd:documentation>
        International Standard Book Number format. 13 digit ie. 978-0-596-52773-0.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}[-][0-9][-]\d{3}[-]\d{5}[-][0-9]"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>